.container {
    margin: 0;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    height: auto;
    width: 90%;
    max-width: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.container hr {
    height: 2px;
    border: none;
    background-color: #707070;
}

.container h2 {
    font-size: 20px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    cursor: pointer;
}

.container ul li:hover {
    border: 3px solid #686868;
}

.container button {
    margin: auto;
    width: 100%;
    height: 65px;
    background-color: #008F8C;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #008F8C;
    cursor: pointer;
}

.container button:hover {
    background-color: white;
    color: #008F8C;
}

.container .index {
    font-size: 13px;
} 

.correct {
    background-color: rgb(182, 252, 229);
}

.wrong {
    background-color: rgba(245, 153, 153, 0.589);
}
